jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.2
notebook==6.1.4
numpy==1.18.5
pandas==1.1.2
Pillow==7.2.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
sklearn==0.0
statsmodels==0.12.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
yellowbrick==1.2

